/* nav bar styles */
    .navbar-fixed-top {
        top: 0;
        background-color: #2200db;
    }

    .navbar-brand {
        font-size: 36px;
        color: #ffffff;
        width: 70%;
        text-align: center;
        padding-bottom: 60px;
        line-height: 25px;
        padding-top: 16px;
         font-family: 'Share Tech Mono', monospace;
    }

    .navbar-brand:hover {
        color: #e3092a;
    }

    .navbar-nav {
        float: right;
        margin-top: 20px;
        padding-right: 5%;
    }
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color: #ff0000;
    font-size: 20px;
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
}
.navbar-nav > li.active {
        color: #0310b2;
        background-color: #ffffff;
    }
    .navbar-toggle {
        border: 1px solid blue;
    }

    /*intro images*/

    #intro .introimg1 {
        text-align: center;
        position: absolute;
        top: 34%;
        left: 26%;
        font-family: "Tungsten A", "Tungsten B", "Khand", sans-serif;
        font-size: 24px;
    }

    #intro .introimg2 {
        text-align: center;
        position: absolute;
        top: 33%;
        left: 25%;
        font-family: "Tungsten A", "Tungsten B", "Khand", sans-serif;
        font-size: 24px;
    }

    #intro h2 {
        color: #fff;
        margin-bottom: 30px;
        font-size: 270%;
        font-weight: 700;
        padding: 2px 7px 0px 7px;
        margin-bottom: 0%;
    }

    #intro p {
        color: #fff;
        width: 60%;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
        margin: 0 auto 3px auto;
        font-size: 110%;
        text-align: center;
        padding: 0px 5px 2px 5px;
    }

    /* #intro p:hover {
        border
    }*/

    /*   CLIENT   */

    #clients {

        /* height: 100vh;*/
        background-color:  rgba(239, 234, 225, 0.25);
    }

    #clients .clientimg img {
        margin-left: 11%;
        margin-top: 3%;
        margin-bottom: 3%;

    }

    #clients .clientheading {
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
    }

    /*  products  */
    .productheading {
        text-align: center;
        color: #000;
        background-color: rgba(239, 234, 225, 0.25);
        padding-top: 1px;
        padding-bottom: 0px;
        margin-top: 100%;
    }

    #products h1 {
        font-family: "Tungsten A", "Tungsten B", "Khand", sans-serif;
        font-size: 38px;
    }

    .productimg1,
    .productimg2 {
        box-shadow: 5px 10px 12px 0px #000000, 11px 15px 25px 0px #330505;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .product1,
    .product2 {
        border: 1px solid #0ff2c6;
        background-color: #fff;
        box-shadow: 5px 10px 12px 0px #000000, 11px 15px 25px 0px #330505;
    }

    .productheading h1 {
        margin-top: 5%;
    }

    #products p {
        text-align: justify;
        clear: both;
    }

    /*      servises      */

    #services {
        background-color:  rgba(239, 234, 225, 0.25);
        color: #000;
        font-size: 110%;
        text-align: center;
    }

    .container .serviceheading p {
        text-align: center;
        font-size: 130%;
        width: 60%;
        margin-left: 20%;
    }

    #services .serviceheading {
        font-family: "Tungsten A", "Tungsten B", "Khand", sans-serif;
    }

    .serviceheading {
        margin-top: 5%;



    }

    .servicecontent1 {
        margin-top: 0%;
        box-shadow: 5px 10px 12px 0px #000000, 11px 15px 25px 0px #140303;
    }

    .servicecontent2 {
        margin-top: 3%;
        box-shadow: 5px 10px 12px 0px #000000, 11px 15px 25px 0px #140303;

    }

    .servicecontent3 {
        margin-top: 3%;
        box-shadow: 5px 10px 12px 0px #000000, 11px 15px 25px 0px #140303;
    }

    .serviceimg1,
    .serviceimg2,
    .serviceimg3 {
        box-shadow: 0px 0px 5px 0px #000000, 11px 15px 25px 0px #140303;
        margin-bottom: 15px;
    }

    .servicetext {
        text-align: justify;
        margin-top: 10%;
    }

    .servicetext1 {
        text-align: justify;
        margin-top: 10%;
    }

    #services .serviceweb {
        font-size: 160%;
        color: #ffb204;
    }

    .servicetext h4 {
        font-size: 160%;
        color: #ffb204;
    }

    /*  TEAM   */

    #team {
        padding-top: 5%;
        background-color: rgba(239, 234, 225, 0.25);
        color: #000;
        /*height: 200vh;*/
    }

    #team .syam1 {
        padding-left: 40%;
        cursor: pointer;
    }

    #team .sharif1 {
        padding-left: 33%;
        cursor: pointer;
    }

    #team .malik1 {
        padding-left: 45%;
        cursor: pointer;
    }

    #team .syam2 {
        padding-left: 43%;
        cursor: pointer;
    }

    #team .sharif2 {
        padding-left: 15%;
        width: 100%;
        cursor: pointer;
    }

    #team .malik2 {
        padding-left: 19%;
        width: 100%;
        cursor: pointer;
    }

    .teamalign {
        margin-left: 6%;
    }

    #team .teamheading {
        font-family: "Tungsten A", "Tungsten B", "Khand", sans-serif;
        font-size: 38px;
        text-align: center;
        padding-right: 50%;
    }

    #team p {
        font-size: 120%;
        text-align: center;
        width: 60%;
        margin-left: -4%;
        padding-bottom: 1%;
    }
#team .teamdata {
    margin-left: 1%;
    text-align: justify
}

    /*  Careers  */

    #career {
        padding-top: 5%;
        background-color: rgba(239, 234, 225, 0.25);
    }

    #career h1 {
        margin-top: 20px;
        text-align: center;
        color: #000;
        font-family: "Tungsten A", "Tungsten B", "Khand", sans-serif;
        font-size: 38px;
        text-align: center;
    }

    #career p {
        text-align: center;
        color: #000;
    }

    /*  ABOUT US  */

    #about {
        background-color: rgba(239, 234, 225, 0.25);
        color: #ff0000;
        padding-top: 5%;
    }

    #about img {
        margin-left: 16%;
        margin-top: 8%;
    }

    #about .aboutheading {
        font-family: "Tungsten A", "Tungsten B", "Khand", sans-serif;
        font-size: 38px;
        text-align: center;
    }

    #about h2 {
        text-align: center;
        color: #000;
        margin-top: 10%;
    }

    #about p {
        color: #000;
        margin-top: 3%;
    }

    #about h4 {
        text-align: center;
        color: #000;
    }

    #about .contentabout {
        margin-top: 2%;
    }

    .aboutheadline {
        text-align: center;
    }

    /*   CONTACT    */

    #contact {
        background-color: rgba(239, 234, 225, 0.25);
        color: rgb(0, 0, 0);
        padding-top: 3%;
    }

    #contact h1 {
        text-align: center;
        font-family: "Tungsten A", "Tungsten B", "Khand", sans-serif;
        font-size: 38px;
    }

    .contactline {
        width: 70%;
        margin-left: 15%;
        text-align: center;
        color: #000000;
    }

    /*.sendbutton {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
        float: right;
    }

    .row input:hover {
        border: 2px solid #02367e;
        color: black;
    }*/

    /*#contact .foxyform {
        text-align: center;
    }

    #map {
        padding-top: 5%;
        background-color: #ffffff;
    }*/
#contact location {
    padding-left: 20px;
}
    #contact address {
        /*border: 2px solid blue;*/
        font-size: 16px;
    }
#contact .addressheading {
    padding-left: 4%;
}

    #contact address .addressalign {
        padding-left: 4%;
    }

    /*   FOOTER   */
    #footer {
        background-color: rgb(48, 10, 255);
    }

    .footer {
        text-align: center;
        color: white;
        font-size: 80%;
        padding-top: 5px;
    }


    /*      RESPONSIVE     */
   /*    responsive 1200px   */
@media only screen and (max-width:1200px){
          .navbar-fixed-top {
            top: 10;
            background-color: #70737b;
        }

        .navbar-brand {
            font-size: 22px;
            color: #31fa01;
            width: 50%;
            padding-bottom: 10px;
            line-height: 20px;
            padding-top: 20px;
        }
     .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color: #ff0000;
    font-size: 20px;
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
}

        .navbar-nav {
            float: right;
            margin-top: 0px;
            padding-right: 3%;
            margin-bottom: 1%;
        }
   
.navbar-nav > li.active {
        color: #0310b2;
        background-color: #ffffff;
    }
    
}
    /*      RESPONSIVE   992PX  */

    @media only screen and (max-width: 991px) {

        /*      NAV  BAR   */

        .navbar-fixed-top {
            top: 0;
            background-color: #70737b;
        }
        .navbar-brand {
            font-size: 22px;
            color: #31fa01;
            width: 65%;
            padding-bottom: 10px;
            line-height: 20px;
            padding-top: 25px;
        }
        .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color: #ff0000;
    font-size: 14px;
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
            width: 100%;
}
.navbar-nav > li.active {
        color: #0310b2;
        background-color: #ffffff;
    }

        .navbar-nav {
            float: right;
            margin-top: 15px;
            padding-top: -20px;
            padding-right: 3%;
            margin-bottom: 3%;
            /*width: 100%;*/
        }

        .productimg1,
        .productimg2 {
            box-shadow: 5px 10px 12px 0px #000000, 11px 15px 25px 0px #330505;
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .product1,
        .product2 {
            border: 1px solid #0ff2c6;
            background-color: #fff;
            box-shadow: 5px 10px 12px 0px #000000, 11px 15px 25px 0px #330505;
            margin-left: 0%;
            width: 100%;
        }

        .productheading h1 {
            margin-top: 10%;
        }

        #products p {
            text-align: justify;
        }

        /*    OUR TEAM    */

        #team .teamheading {
            text-align: center;
            margin-left: 25%;
            width: 100%;
            padding-top: 4%;
        }

        #team .teamdescription {
            text-align: center;
            margin-left: 1%;
            width: 100%;
        }

        #team .syam1 {
            padding-left: 65%;

        }

        #team .sharif1 {
            margin-left: 47%;
            width: 100%;
            padding-left: 0px;
        }

        #team .malik1 {
            padding-left: 115px;
        }

        #team .syam2 {
            padding-left: 66%;
        }

        #team .sharif2 {
            margin-left: 33%;
            padding-left: 0%;
            width: 100%;
        }

        #team .malik2 {
            padding-left: 72%;

        }

        #team img {
            width: 100%;
            height: auto;
            margin-left: 30%;
            margin-right: 10%;
            display: block;
        }

        /*      CAREER    */
        #career {
            padding-top: 7%;
        }

        /*     ABOUT    */
        #about {
            padding-top: 7%;
        }

    }

    /*     MAX WIDTH   500px  */
 
    @media only screen and (max-width: 500px) {

        /*   NAV  - BAR   */
        .navbar-fixed-top {
            top: 0;
            background-color: #70737b;
        }
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color: #ff0000;
    font-size: 20px;
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
}
.navbar-nav > li.active {
        color: #0310b2;
        background-color: #ffffff;
    }
        .navbar-brand {
            font-size: 24px;
            color: #31fa01;
            width: 50%;
            padding-bottom: 35px;
            line-height: 25px;
            padding-top: 16px;
        }

        /*    INTRO   */
        #intro .introimg1 {
            text-align: center;
            position: absolute;
            top: 18%;
            left: 0%;
            font-size: 12px;
            margin-top: -10px;
        }

        #intro .introimg2 {
            text-align: center;
            position: absolute;
            top: 18%;
            left: 0%;
            font-size: 12px;
        }

        /*  PRODUCTS   */
        .productheading {
            text-align: center;
            color: #ffffff;
            background-color: #c93838;
            padding-top: 9%;

            /*
    padding-bottom:10px;
*/
            margin-top: -20px;
        }

        .product1,
        .product2 {
            border: none;
        }

        .productimg1,
        .productimg2 {
            max-width: 100%;
        }

        .productheading h2 {
            margin-top: 5%;
        }

        #products p {
            text-align: justify;
            font-size: 14px;
        }

        /*   SERVICES    */
        #services {
            padding-top: 5%;
        }

        .servicecontent1 {
            margin-top: 0%;
            box-shadow: none;
        }

        .servicecontent2 {
            margin-top: 3%;
            box-shadow: none;

        }

        .servicecontent3 {
            margin-top: 3%;
            box-shadow: none;
        }

        .serviceimg1,
        .serviceimg2,
        .serviceimg3 {
            margin-bottom: 15px;
            box-shadow: none;
        }

        /*   TEAM*/
        #team .teamheading {
            text-align: center;
            padding-left: 0px;
            padding-top: 4%
        }

        #team .teamdescription {
            text-align: center;
            padding-left: 20px;
            width: 100%;
        }

        #team .syam1 {
            padding-left: 110px;
        }

        #team .sharif1 {
            padding-left: 88px;
        }

        #team .malik1 {
            padding-left: 115px;
        }

        #team .syam2 {
            padding-left: 118px;
        }

        #team .sharif2 {
            padding-left: 0px;
        }

        #team .malik2 {
            padding-left: 0px;

        }

        #team img {
            width: 200px;
            height: auto;
            margin-left: 10%;
            margin-right: 10%;
            display: block;
        }

        /*   CAREERS    */

        #career {
            padding-top: 10%;
        }

        /*   ABOUT US    */

        #about {
            padding-top: 5%;
        }

        #about .aboutimg {
            margin-left: 20px;
            margin-right: 20px;
            width: 300px;
            height: 350px;
        }

        #about .abouttext2 {
            font-size: 20px;
        }

        #about .abouttext3 {
            font-size: 16px;
        }
    } 

    #carousel .item {
        text-align: center !important;
    }